{% load static %}
<!-- Navbar -->
<nav
class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
id="layout-navbar" style="z-index: 10;">
<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
    <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input
        type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..."
        />
    </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            <img src="{% static "img/avatars/5.png" %}" alt class="w-px-40 h-auto rounded-circle" />
        </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
            <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                    <img src="{% static "img/avatars/5.png" %}" alt class="w-px-40 h-auto rounded-circle" />
                </div>
                </div>
                <div class="flex-grow-1">
                <span class="fw-semibold d-block">
                    {% if request.user.get_full_name %}
                    {{ request.user.get_full_name }}
                    {% else %}
                    {{ request.user }}
                    {% endif %}
                </span>
                <small class="text-muted">Admin</small>
                </div>
            </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item" href="#">
            <i class="bi bi-person me-2"></i>
            <span class="align-middle">My Profile</span>
            </a>
        </li>   
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button class="dropdown-item" type="submit"><i class="bi bi-power me-2"></i>
                    <span class="align-middle">Log Out</span></button>
            </form>
        </li>
        </ul>
    </li>
    <!--/ User -->
    </ul>
</div>
</nav>
<!-- / Navbar -->