{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- Content -->
<div class="container-xxl">
    <div class="row justify-content-center">
            <div class="authentication-inner col-md-4 ">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                <h4 class="mb-2">Welcome to ToDo APP! 👋</h4>
                <form  class="mb-3" action="." method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="username"
                        placeholder="Enter your email"
                        autofocus
                    />
                    </div>
                    <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label>
                        <a href="auth-forgot-password-basic.html">
                        <small>Forgot Password?</small>
                        </a>
                    </div>
                    <div class="input-group input-group-merge">
                        <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                        />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                    </div>
                    <div class="mb-3">
                    <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                    </div>
                </form>
    
                <p class="text-center">
                    <span>New on our platform?</span>
                    <a href="{% url "accounts:register" %}">
                    <span>Create an account</span>
                    </a>
                </p>
                </div>
            </div>
            <!-- /Register -->
            </div>
    </div>
</div>
<!-- / Content -->
{% endblock content %}